<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NHL Adjusted Goal Leaders</title>

    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        body { padding-top: 40px; }

        .red { color: lightcoral; }
        .green { background-color: lightgreen; }

        .inline { display: inline-block; }

    </style>

    <!-- javascript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="adjusted_goal_leaders.js"></script>

</head>
<body>
<div class="container" data-ng-app="adjustedGoalLeadersApp" data-ng-controller="mainController">
  
  <h1>NHL Adjusted Goal Scoring Leaders</h1>

  <hr />

  <div class="alert alert-info">
    <p>For a description of the workflow and a detailed explanation of the methodology refer to this <b><a href="http://portolan.leaffan.net/creating-a-searchable-and-sortable-list-of-draft-eligible-chl-players-using-python-and-angularjs/">post</a></b> on the <b><a href="http://portolan.leaffan.net/">Portolan Blog</a></b>.</p>
  </div>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter by player name" data-ng-model="nameFilter" />
      </div>
      <br />
      <div class="input-group inline">
        <label class="control-label" for="games_played">Minimum games played:</label>
        <input id="games_played" type="text" class="form-control" placeholder="" data-ng-model="gameFilter" />
      </div>
      <div class="input-group inline">
        <label class="control-label" for="goals_scored">Minimum career goals:</label>
        <input id="goals_scored" type="text" class="form-control" placeholder="" data-ng-model="goalFilter" />
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <td class="text-center">Rank</td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('last_name', sortCriterion, statsSortDescending); sortCriterion = 'last_name'">Name</a>
                 <span data-ng-show="sortCriterion == 'last_name' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'last_name' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('sum_games', sortCriterion, statsSortDescending); sortCriterion = 'sum_games'">Games</a>
                 <span data-ng-show="sortCriterion == 'sum_games' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'sum_games' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('sum_goals', sortCriterion, statsSortDescending); sortCriterion = 'sum_goals'">Goals</a>
                 <span data-ng-show="sortCriterion == 'sum_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'sum_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('goals_per_game', sortCriterion, statsSortDescending); sortCriterion = 'goals_per_game'">G/GP</a>
                 <span data-ng-show="sortCriterion == 'goals_per_game' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'goals_per_game' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('goals_per_season', sortCriterion, statsSortDescending); sortCriterion = 'goals_per_season'">G/82GP</a>
                 <span data-ng-show="sortCriterion == 'goals_per_season' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'goals_per_season' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('adjusted_goals_per_game', sortCriterion, statsSortDescending); sortCriterion = 'adjusted_goals_per_game'">AdjG/GP</a>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_per_game' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_per_game' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('adjusted_goals_per_season', sortCriterion, statsSortDescending); sortCriterion = 'adjusted_goals_per_season'">AdjG/82GP</a>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_per_season' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_per_season' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
             <td class="text-center">
                 <a href="#" data-ng-click="statsSortDescending = setSortOrder('adjusted_goals_diff_game', sortCriterion, statsSortDescending); sortCriterion = 'adjusted_goals_diff_game'">AdjGDiff</a>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_diff_game' && statsSortDescending" class="fa fa-caret-down"></span>
                 <span data-ng-show="sortCriterion == 'adjusted_goals_diff_game' && !statsSortDescending" class="fa fa-caret-up"></span>
             </td>
         </tr>
     </thead>
     <tbody>
         <tr data-ng-repeat="stat in stats | orderBy:sortCriterion:statsSortDescending | filter:nameFilter | filter:careerGoalFilter | filter:gamesPlayedFilter">
             <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
             <td class="col-md-3"><!--<a data-ng-href="{{ stat.url }}">-->{{ stat.first_name }} {{ stat.last_name }}</td><!--</a>-->
             <td class="col-md-1 text-right">{{ stat.sum_games }}</td>
             <td class="col-md-1 text-right">{{ stat.sum_goals }}</td>
             <td class="col-md-1 text-right">{{ stat.goals_per_game.toFixed(4) }}</td>
             <td class="col-md-1 text-right">{{ stat.goals_per_season.toFixed(4) }}</td>
             <td class="col-md-1 text-right">{{ stat.adjusted_goals_per_game.toFixed(4) }}</td>
             <td class="col-md-1 text-right">{{ stat.adjusted_goals_per_season.toFixed(4) }}</td>
             <td class="col-md-1 text-right">{{ stat.adjusted_goals_diff_game.toFixed(4) }}</td>
         </tr>
     </tbody>
</table>

</div>
</body>
</html>